/* * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
} */

.add-sec {
    padding: 6% 5%;
}

h1, h2, h3, h4, h5, h6 {
    color: #2F1C6A;
}

.bg-lred {
    background: #ffd7de;
}
.bg-lblue {
    background: #d7e5ff;
}

.bg-lbluevoilet {
    background: #F4F5FF;
}

.bg-bluevoilet {
    background: #673DE6;
    color: #fff;
}

.bg-lgreen {
    background: #eefaff;
}

.bg-lyellow {
    background: #f6f6dd
}

.bg-lpink {
    background: #fcd7ff;
}

.bg-lyellowgreen {
    background: #e3f7d0;
}

.bg-lviolet {
    background: #e3d0f7;
}

.bg-dark {
    color: #4B4453;
}

/* .bg-lvoilet {
    background: #a880ff;
} */

.top-navbar {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    color: #ffffff;
    padding: 0 5%;
    margin: 0;
    height: 60px;
}

.col {
    padding: 0;
}

.start-cont {
    display: flex;
    align-items: center;
}

#Menu-icon {
    font-size: 1.4rem;
    margin-right: 10px;
    cursor: pointer;
}

.start-cont a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.search-box-cont {
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
}

#Search-box {
    width: 90%;
    outline: none;
    padding: 8px 10PX;
    border-radius: 2px;
    border: none;
}

.end-cont {
    display: flex;
    align-items: center;
    justify-content: end;
}

.end-cont span {
    margin-left: 12px;
}

#Login-btn {
    background-color: #fff;
    color: #673DE6;
    border: none;
    padding: 5px 20px;
    margin-left: 25px;
    border-radius: 2px;
    font-weight: 600;
}

#Cart {
    cursor: pointer;
}

/*-----------[Categories Section]-------------*/

/* .categories-items {
    text-align: center;
} */

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.card-img-top {
    width: 50%;
}
.categories-cont .card {
    margin-top: 0.5rem;
    transition: 0.3s;
}

.categories-cont .card:hover {
    margin-top: 0;
}

.categories-cont .card,
.categories-cont .card-header {
    border: none;
}
.categories-cont .card-body {
    border: none;
    background-color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

/* .categories-cont .card:hover {
    box-shadow: 0px 9px 17px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 9px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 9px 17px 0px rgba(0,0,0,0.75);
} */

.categories-cont .card a {
    text-decoration: none;
    color: #333;
}

/*------[ popular book ]--------*/

.books-cont {
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 5px;
    transition: 0.3s;
}

.books-cont:hover {
    margin-top: 0;
}

.card-top {
    display: flex;
    margin-bottom: 10px;
}

.book_details {
    flex-grow: 1;
}

.book_details p {
    margin-bottom: 0;
}

.card-img-cont {
    width: 25%;
    margin-right: 10px;
}

.card-img-cont img {
    width: 100%;
}



.Book_name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
}
.Pub_name {
    font-size: 0.85rem;
}

.unv_name {
    color: #3484AB;
    font-size: 0.85rem;
}

.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book_price_cont {
    margin: 0;
    display: flex;
    align-items: center;
}

.book_price_cont span {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

button#Buy-btn {
    border: none;
    font-size: 1rem;
    background: #673DE6;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 60%);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    -moz-transition: 0.3s;
}

.overlay-enable.overlay {
    visibility: visible;
    opacity: 1;
}

/*------[ Reg Users and Upload Books ]--------*/
#Count-Users_Books {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#Count-Users_Books div {
    text-align: center;
}

.num-box {
    width: 250px;
    margin: 0;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 5px;
    background: #008BC8;
    color: #fff;
    padding: 2px 0;
    border-radius: 4px;
}

p.txt-label {
    font-size: 1.3rem;
    font-weight: bold;
    color: #2F1C6A;
}

/*--------[ Latest Book Section ]-----------*/
/* .latest-books-cont {
    width: auto;
    overflow-x: auto;
} */

.ltst-book-cont {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.ltst-img {
    width: 25%;
    margin-right: 10px;
}

.ltst-img img {
    width: 100%;
}

.latest-book-sec  .owl-stage-outer {
    padding: 5px 0 10px;
}

/*--------[ Footer Section ]-----------*/
.footer-bottom-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-cont {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1rem;
    color: #9f9f9f;
}

span.copyright-icon {
    padding-right: 4px;
    font-size: 1.15rem;
}

.social-icons ul {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons ul li a {
    text-decoration: none;
    cursor: pointer;
}

.social-icons ul li img {
    width: 22px;
}

@media  (max-width: 799px) {
    /* .top-navbar {
        height: 45px;
    } */

    .add-sec {
        padding: 10% 5%;
    }

    .start-cont a {
        font-size: 1.4rem;
    }

    .search-box-cont {
        display: none;
    }

    .end-cont span {
        font-size: 1.4rem;
    }

    #Login-btn {
        background: transparent;
        color: #fff;
        padding: 0;
        font-weight: normal;
        margin-left: 12px;
    }

    .carousel-indicators {
        margin-bottom: 0.25rem;
    }

    .categories-cont .card {
        margin-top: 0;
    }

    .books-cont {
        margin-top: 0;
    }

    /* .carousel-control-prev,
    .carousel-control-next {
        display: none;
    } */


    /*------[ Side navbar ]------*/
    .sidenav {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        height: 100vh;
        width: 75%;
        background-color: #fff;
        transform: translate(-100%);
        -moz-transform: translate(-100%);
        transition:  0.3s;
        -moz-transition: 0.3s;
        display: flex;
        flex-direction: column;
    }

    .sidenav-open.sidenav {
        transform: translate(0);
        -moz-transform: translate(0);
    }

    .sidenav .top-cont {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px 0;
    }

    .sidenav .logo {
        font-size: 1.5rem;
        font-weight: bold;
        padding-left: 1.4rem;
    }

    .sidenav .close-arrow {
        display: flex;
        align-items: center;
    }

    .sidenav .close-arrow span {
        font-size: 1.35rem;
    }

    .all-links-cont {
        overflow-y: auto;
    }

    .all-links-cont ul {
        list-style-type: none;
        padding-left: 0;
        padding-top: 5px;
    }

    .all-links-cont ul li a {
        color: #353535;
        text-decoration: none;
        display: block;
        line-height: 30px;
        font-weight: 600;
        padding-left: 1.4rem;
    }
    
    /*-------[ Search container for mobile ]---------*/
    .search-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: 1;
        padding: 0 5px;
        transition: 0.3s;
        -moz-transition: 0.3s;
        display: none;
    }

    .search-header {
        display: flex;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid #e6e6e6;
    }

    .m-search-box {
        flex-grow: 1;
    }

    .exit-search-cont {
        display: flex;
        align-self: center;
        padding: 0 8px 0 4px;
    }

    input#M-search-box {
        width: 100%;
        padding: 5px;
        font-size: 1rem;
        outline: none;
        border: none;
    }
}

/* @media (max-width: 768px) {
    
} */


@media (max-width: 659px) {
    /*------[ Reg Users and Upload Books ]--------*/
    #Count-Users_Books {
        display: block;
    }

    #Count-Users_Books div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .footer-bottom-cont {
       display: block;
       text-align: center;
    }
    
    .copyright-cont {
        justify-content: center;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    /* .social-icons ul {
        justify-content: center;
    } */

}
@media (max-width: 399px) {
    .card-body {
        padding: 0.5rem 1rem;
    }

    .card-text {
        font-size: 0.75rem;
    }

    .card-text {
        font-size: 0.65rem;
    }

    p.txt-label {
        font-size: 1.05rem;
    }

    .num-box {
        width: 80%;
        font-size: 1.4rem;
    }

    .social-icons ul {
        width: 60%;
    }

    .copyright-cont span{
        font-size: 0.7rem;
    }
}

@media (min-width: 799px) {
    #Menu-icon {
        display: none;
    }

    #Search-icon {
        display: none;
    }

    .sidenav {
        display: none;
    }
    
    /*-------[ Search container for mobile ]---------*/
    .search-container {
        display: none;
    }
}